.event_queue { 
  overflow: hidden;
  padding: 10px;
  width: 100%;
}

#sidebar_wrapper {
  width: 25%;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
}

h2, p {
  text-align: center;
}

tr {
  vertical-align: middle;
}

td {
  padding: 5px;
  vertical-align: middle;
}

td.blurb {
  width: 70%;
}

td.checkbox_container {
  width: 30%;
}

.checkbox {
  float: left;
  margin-right: 5px;
  width: 30px;
  height: 30px;
  background-image: url("../unchecked.svg");
  background-size: contain;
}

.votebox {
  color: gray;
  float: left;
  width: 5px;
}

.checkbox.checked {
  background-image: url("../checked.png");
  background-size: contain;
}

.blurb_image {
  float: left;
  padding-right: 5px;
  width: 20px;
  height: 20px;
}

.new_opinion {
  clear: both;
}

table {
  border-radius: 10px;
}

tr .blurb {
  border-bottom: 1px solid gray;
}

table, tr {
  border: 2px solid gray;
}
